<div class="my-component container">
    <div class="row">
        <form class="example-form"  [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
              <mat-label translate class="label">First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="{{ 'Please enter first name' | translate }}">
            </mat-form-field>
            <span class="text-danger"
                *ngIf="(registerFormControl.firstName.touched || submitted) && registerFormControl.firstName.errors?.required">
                  Name is required
              </span>

            <mat-form-field class="example-full-width">
                <mat-label translate>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="{{'Please enter last name'| translate}}">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label translate>Email</mat-label>
                <input translate matInput formControlName="email" placeholder="{{'Please enter last name'| translate}}">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label translate>Phone</mat-label>
                <input translate matInput formControlName="phone" placeholder="{{'Please enter your number'| translate}}">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label translate>Age</mat-label>
                <input translate matInput formControlName="age" 
                  placeholder="{{'Please enter your age'| translate}}">
              </mat-form-field>

              <mat-form-field>
                <mat-label translate>Nationality</mat-label>
                <mat-select formControlName="Nationality">
                  <mat-option translate value="{{'United Arab Emirates' | translate}}">United Arab Emirates</mat-option>
                  <mat-option translate value="option2">Egypt</mat-option>
                  <mat-option translate value="option3">Oman</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label translate>Place of Residency</mat-label>
                <mat-select formControlName="placeofResidency">
                  <mat-option translate value="{{'United Arab Emirates' | translate}}">United Arab Emirates</mat-option>
                  <mat-option translate value="option2">Egypt</mat-option>
                  <mat-option translate value="option3">Oman</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label translate>Organization</mat-label>
                <input translate matInput formControlName="Organization" placeholder="{{'Please enter organization name'| translate}}">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label translate>Job</mat-label>
                <input translate matInput formControlName="job" placeholder="{{'Please enter job name'| translate}}">
              </mat-form-field>

              <mat-form-field>
                <mat-label translate>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option translate value="option1">Complaint</mat-option>
                  <mat-option translate value="option2">Egypt</mat-option>
                  <mat-option translate value="option3">Oman</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label translate>Subject</mat-label>
                <input translate matInput formControlName="subject" placeholder="{{'Please enter Enter your Subject'| translate}}">
              </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label translate>Message</mat-label>
              <textarea matInput formControlName="message"></textarea>
            </mat-form-field>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>

          </form>        
    </div>
</div>

